$theme-color:rgb(255, 150, 0);
$header-menu-selected-color:rgb(0, 150, 255);
$header-menu-color:#fff;
$index-header-height:7vh;
$index-content-height:93vh;
$index-footer-height:0vh;

/** 修改滚动条样式 **/
::-webkit-scrollbar-track-piece{
    background-color: rgb(201, 196, 196);
}
::-webkit-scrollbar-thumb{
    background-color: $theme-color;
    border-radius: 5px;
}
::-webkit-scrollbar{
    width: 7px;
}
