@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1395251_4nrokiulu0m.eot');
  src: url('//at.alicdn.com/t/font_1395251_4nrokiulu0m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1395251_4nrokiulu0m.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1395251_4nrokiulu0m.woff') format('woff'),
  url('//at.alicdn.com/t/font_1395251_4nrokiulu0m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1395251_4nrokiulu0m.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}